
*{
  margin: 0px;
}
a{
  color: white
}
.container {
  min-height: 200vh;
  padding: 70px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color:  rgba(17, 24, 39, 0.9);
}
.inner h1{
  color: white;
  font-size: 2.7rem;
  margin-bottom: 10px;
  text-align: center;
}
.inner h3{
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 9px;
}
.inner h4{
  color: white;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 9px;
}
.connect{
  padding: 20px 40px;
  background-color: #c2ae89;
  color: white;
  cursor: pointer;
  align-self: end;
  justify-self: center;
  text-align: center;
  border: none;
  text-decoration: none;
  margin: 10px 25px;
}
.form{
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 50px;
}
form{
  display: flex;
  flex-direction: column;
}
form div label{
  color: white;
  font-size: 25px;
  margin: 15px;
}
form > div > input[type=text]{
  padding: 10px 20px;
  background-color: white;
  background-position: 10px 30px;
  width: 50%;
  background-repeat: no-repeat;
  padding-left: 40px;
  border: none;
}
form > div > input[type=text]:focus {
  border: 3px solid #555!important;
 
}
form input{
  color:white;
  margin-top: 25px;
}

.mint{
  padding: 20px 40px;
  font-size: 1.5rem;
  border: none;
  text-decoration: none;
  background-color: #c2ae89;
  color: white;
  cursor: pointer;
  align-self: end;
  justify-self: center;
  text-align: center;
  margin: 10px 28px;
}
@media only screen and (max-width: 600px) {
  .inner h1{
    font-size: 2.2rem;
  }
  .inner h3{
    font-size: 1.2rem;
    margin-bottom: 9px;
  }
  .inner h4{
    font-size: 1.0rem;
  }
  form div label{
    margin: 0px;
  }
  form > div > input[type=text]{
    width: 30%;
  }
}